<nav class="py-2 sticky top-0 bg-white/80 dark:bg-neutral-900/80 backdrop-blur-sm w-full flex justify-center border-b dark:border-neutral-700">
  <ul class="max-w-2xl w-full px-6 flex gap-6">
    <li class=""><a href="/">home</a></li>
    <li class=""><a href="/game-theory">game-theory</a></li>
    <li><a href="/assessment">assessment</a></li>
  </ul>
</nav>
