<nav class="sticky top-0 bg-white/90 dark:bg-neutral-900/80 backdrop-blur-lg w-full flex justify-center border-b dark:border-neutral-700 z-10" style="z-index: 100;">
  <ul class="max-w-2xl w-full px-6 flex">
    <li><a class="hover:bg-neutral-100 px-4 py-1 transition-colors block" href="/">background</a></li>
    <li><a class="hover:bg-neutral-100 px-4 py-1 transition-colors block" href="/game-theory">game theory</a></li>
    <li><a class="hover:bg-neutral-100 px-4 py-1 transition-colors block" href="/assessment">assessment</a></li>
    <li><a class="hover:bg-neutral-100 px-4 py-1 transition-colors block" href="/bibliography">bibliography</a></li>
  </ul>
</nav>
